---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome.">
	<h1  class="text-6xl pt-5 text-yellow-300 text-center font-bold font-serif">
        Esta es la páguina principal
    </h1>
</Layout>

