---
import Layout from "../layouts/Layout.astro";
import Example from "../components/vue/Example.vue";
---
<Layout title="welcome about us.">
    <h1 class="text-6xl pt-5 text-center font-bold font-serif">
        Esta es la páguina de quienes somos
    </h1>

    <Example client:load>

    </Example>
</Layout>