---
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/Button.astro";
---
<Layout title="contactenos">
    <h1  class="text-6xl pt-5 text-yellow-300 text-center font-bold font-serif">
        Acá debería existir un formulario de contacto
    </h1>
    <Button/>
    <Button>
        
    </Button>
</Layout>