---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="organigrama">
    <h1  class="text-6xl pt-5 text-center font-bold font-serif">
        Este es el organigrama de la empresa
    </h1>
</Layout>