---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Noticias">
    <h1  class="text-6xl pt-5 text-center font-bold font-serif">
        Esta es la sección de noticias
    </h1>
    <menu class="bg-pink-300 flex items-center justify-center">
        <li>
            <a href="/[news]" class="block px-3 hover:bg-white/25">option </a>
        </li>
    </menu>    
</Layout>